.modal{
    background-color: white;
    position: fixed;
    z-index: 20;
    min-width: 20%;
    height: 200px;
    top: 15vh;
    width: 50%;
    left: 25%;
    border-radius: 8px;
}
.message{
    text-align: center;
    
}
.close{
    position: absolute;
    
    right: 0;
    bottom: 0;
    margin: 1.2rem;
    padding: 12px;
    width: 10rem;
    border-radius: 8px;
    background: #ccc;
    cursor: pointer;
}